In [1]:
import pandas as pd 
import numpy as np

In [3]:
datamakeup = pd.read_csv('review makeup.csv')

## TIPE DATASET

In [4]:
datamakeup.dtypes

Product         object
UserName        object
SkinCond_Age    object
Recommend       object
PostDate        object
Review          object
Rating           int64
dtype: object

## MELIHAT DATASET

In [5]:
datamakeup

,Product,UserName,SkinCond_Age,Recommend,PostDate,Review,Rating
0,Perfect 3D Gel,MALA_,35 - 39,MALA_ recommends this product!,12 Jul 2020,Di aku beneran kerja. Melembabkan bgt. Tp gak ...,5
1,Perfect 3D Gel,Vitamaylinda,"Normal, 19 - 24",Vitamaylinda doesn't recommend this product!,31 May 2020,ga cocok bgttt bikin muka bruntusan dan lgsg m...,2
2,Perfect 3D Gel,aishdwie,"Combination, 19 - 24",aishdwie doesn't recommend this product!,30 Jul 2020,[SOLD]baru pertama kali nyoba dan beli karna l...,2
3,Perfect 3D Gel,ilmisaptiah,"Dry, 30 - 34",ilmisaptiah doesn't recommend this product!,12 Jul 2020,"enak sih di mukaku, yg tadinya kering jd lemba...",3
4,Perfect 3D Gel,alvinadin,"Oily, 19 - 24",alvinadin recommends this product!,15 Jul 2020,"SOLD OUT [PRELOVED] Halo aku preloved ini ya, ...",3
...,...,...,...,...,...,...,...
8641,Face Tonic,nurrav,"Combination, 19 - 24",nurrav recommends this product!,24 Aug 2020,aku suka bgt sama toner ini.. aku juga selalu ...,5
8642,Face Tonic,ireneflorencia,"Normal, 19 - 24",ireneflorencia recommends this product!,20 Aug 2020,Aku sempet pake ini pas jaman sd-smp dulu kare...,4
8643,Face Tonic,destinawahyuni,"Combination, 19 - 24",destinawahyuni doesn't recommend this product!,18 Aug 2020,"Honestly ini udah lama aku punya nya, tapi bar...",2
8644,Face Tonic,brigittac,"Dry, 18 and Under",brigittac recommends this product!,13 Aug 2020,toner ter murah dan aman pula. cocok bgt buat ...,5
8645,Face Tonic,Farahnajela,"Dry, 19 - 24",Farahnajela recommends this product!,09 Aug 2020,Face tonic viva ini ga ngaruh ke mukak yang an...,4

## Menampilkan isi dictionary dengan tipe objek

In [7]:
totalrecord =len(datamakeup)
nameattribute = datamakeup.columns
totalattribute = len(datamakeup.select_dtypes(include=['object']).columns)

dictmkp = {
    'total record' : totalrecord,
    'name attribute' : nameattribute,
    'total attribute' : totalattribute,
}
pd.Series(dictmkp)

total record                                                    8646
name attribute     Index(['Product', 'UserName', 'SkinCond_Age', ...
total attribute                                                    6
dtype: object

## Menampilkan isi dictionary dengan tipe angka

In [10]:
totalattribute = len(datamakeup.select_dtypes(include=['int64']).columns)
totalNULL = len(datamakeup.columns[datamakeup.isna().sum() > 0])
dictint = {
    'total attribute' : totalattribute,
    'total NULL' : totalNULL,
}
pd.Series(dictint)

total attribute    1
total NULL         2
dtype: int64

## Menampilkan nilai rata-rata(MEAN)

In [11]:
datamakeup.select_dtypes(include=['int64']).mean()

Rating    3.981032
dtype: float64

## Menampilkan Nilai Standar Deviasi

In [12]:
datamakeup.select_dtypes(include=['int64']).std()

Rating    1.083281
dtype: float64

## Menampilkan Nilai Minimum

In [13]:
datamakeup.select_dtypes(include=['int64']).min()

Rating    1
dtype: int64

## Menampilkan Nilai Maksimum

In [14]:
datamakeup.select_dtypes(include=['int64']).max()

Rating    5
dtype: int64

## Menampilkan nilai Q1, Q2, Q3

In [15]:
datamakeup.select_dtypes(include=['int64']).quantile([0.25, 0.50, 0.75])

      Rating
0.25     3.0
0.50     4.0
0.75     5.0

## Menampilkan Nilai Mean, Standar Deviasi, MIN, MAX, Q1,Q2,Q3

In [16]:
datamakeup.describe()

            Rating
count  8646.000000
mean      3.981032
std       1.083281
min       1.000000
25%       3.000000
50%       4.000000
75%       5.000000
max       5.000000

## Menampilkan Nilai Korelasi

In [17]:
datamakeup.select_dtypes(include=['int64']).corr()

        Rating
Rating     1.0

## Mengubah Nilai

In [18]:
datamakeup["Rating"] = datamakeup["Rating"].astype('float64', errors='ignore')
datamakeup["Rating"].dtypes

dtype('float64')

##  Menampilkan setelah mengubah niai

In [19]:
pd.options.display.float_format = '{:.3f}'.format
datamakeup.Rating.astype('float64')

0      5.000
1      2.000
2      2.000
3      3.000
4      3.000
        ...
8641   5.000
8642   4.000
8643   2.000
8644   5.000
8645   4.000
Name: Rating, Length: 8646, dtype: float64

## Menampilkan 10 record  pertama

In [23]:
datamakeup

,Product,UserName,SkinCond_Age,Recommend,PostDate,Review,Rating
0,Perfect 3D Gel,MALA_,35 - 39,MALA_ recommends this product!,12 Jul 2020,Di aku beneran kerja. Melembabkan bgt. Tp gak ...,5.000
1,Perfect 3D Gel,Vitamaylinda,"Normal, 19 - 24",Vitamaylinda doesn't recommend this product!,31 May 2020,ga cocok bgttt bikin muka bruntusan dan lgsg m...,2.000
2,Perfect 3D Gel,aishdwie,"Combination, 19 - 24",aishdwie doesn't recommend this product!,30 Jul 2020,[SOLD]baru pertama kali nyoba dan beli karna l...,2.000
3,Perfect 3D Gel,ilmisaptiah,"Dry, 30 - 34",ilmisaptiah doesn't recommend this product!,12 Jul 2020,"enak sih di mukaku, yg tadinya kering jd lemba...",3.000
4,Perfect 3D Gel,alvinadin,"Oily, 19 - 24",alvinadin recommends this product!,15 Jul 2020,"SOLD OUT [PRELOVED] Halo aku preloved ini ya, ...",3.000
...,...,...,...,...,...,...,...
8641,Face Tonic,nurrav,"Combination, 19 - 24",nurrav recommends this product!,24 Aug 2020,aku suka bgt sama toner ini.. aku juga selalu ...,5.000
8642,Face Tonic,ireneflorencia,"Normal, 19 - 24",ireneflorencia recommends this product!,20 Aug 2020,Aku sempet pake ini pas jaman sd-smp dulu kare...,4.000
8643,Face Tonic,destinawahyuni,"Combination, 19 - 24",destinawahyuni doesn't recommend this product!,18 Aug 2020,"Honestly ini udah lama aku punya nya, tapi bar...",2.000
8644,Face Tonic,brigittac,"Dry, 18 and Under",brigittac recommends this product!,13 Aug 2020,toner ter murah dan aman pula. cocok bgt buat ...,5.000
8645,Face Tonic,Farahnajela,"Dry, 19 - 24",Farahnajela recommends this product!,09 Aug 2020,Face tonic viva ini ga ngaruh ke mukak yang an...,4.000

In [26]:
datamakeup.select_dtypes(include=['int64']).head(10)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]